<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322029824512-jfh1qi12fid1925k9hig9eh11kdb4q5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322029824512-jfh1qi12fid1925k9hig9eh11kdb4q5i</string>
	<key>API_KEY</key>
	<string>AIzaSyBLl7PM8jkrO8S0AMIJBkFjyAGmEF6vO68</string>
	<key>GCM_SENDER_ID</key>
	<string>322029824512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.abroad</string>
	<key>PROJECT_ID</key>
	<string>abroad-b0248</string>
	<key>STORAGE_BUCKET</key>
	<string>abroad-b0248.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322029824512:ios:cbc0aec3880b5102d0c6e5</string>
</dict>
</plist>